$primary-blue: #40bbff;
$primary-red: #fb7181;
$primary-yellow: #ffc833;
$primary-green: #53d1b6;
$primary-purple: #5c61f4;

$neutral-dark: #223263;
$neutral-grey: #9098b1;
$neutral-light: #ebf0ff;

$background: #fff;
