@use '../../styles/colors';
@use '../../styles/typography' as text;

.card {
  padding: 1.6rem;
  text-decoration: none;

  border: 1px solid colors.$neutral-light;
  border-radius: 5px;

  .image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;

    margin-bottom: 0.4rem;

    border-radius: 5px;
  }

  a:link,
  a:visited {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;

  .name {
    margin-bottom: 0.4rem;
    @include text.heading(5);
  }
  .price {
    font-weight: text.weight(bold);
    font-size: 1.2rem;
    
    color: colors.$primary-blue;
  }
}
