@use '../styles/colors';
@use '../styles/typography' as text;

.header {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  padding-inline: 1.6rem;
  height: 6.4rem;
  margin: 0 -1.6rem;
  border-bottom: 1px solid colors.$neutral-light;

  @include text.heading(3);
}

.btnBack {
  display: flex;
  background: none;
  border: none;

  svg {
    margin-left: -0.8rem;
  }
}
